{% load static %}
<html>
    <head>
        <title>Штрафам ДА</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Штрафам ДА</a></h1>
            {% if user.is_authenticated %}
                <a href="{% url 'denunc_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <p class="top-menu top2">Товарищ <a href="{% url 'profil' %}">{{ user.username }} </a><small>(<a href="{% url 'logout' %}">Выйти</a>)</small></p>
                {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

